[core]
	editor = nano
[user]
	signingkey = 8857112C7A7BD94A170EDE3C0F11E952F7720434
	email = john.spaetzel@gmail.com
	name = John Spaetzel
[commit]
	gpgsign = true
[gui]
	encoding = utf-8
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
